<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <div class="container">
    <div class="card">
        <a href="{{ URL }}index.php/productos">
            <i class="fas fa-sign-in-alt"></i>
            <h2>Productos</h2>
        </a>
    </div>
    <div class="card">
        <a href="{{ URL }}index.php/clientes">
            <i class="fas fa-sign-in-alt"></i>
            <h2>Clientes</h2>
        </a>
    </div>
    <div class="card">
        <a href="{{ URL }}index.php/pedidos">
            <i class="fas fa-sign-in-alt"></i>
            <h2>Pedidos</h2>
        </a>
    </div>
  </div>
</body>
</html>
